In [1]:
import pandas as pd
ufo = pd.read_csv("http://bit.ly/uforeports")
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [2]:
ufo = pd.read_csv("http://bit.ly/uforeports", usecols = ["City", "State"])

In [3]:
ufo.columns

Index(['City', 'State'], dtype='object')

In [4]:
ufo = pd.read_csv("http://bit.ly/uforeports", usecols = [0,4])

In [5]:
ufo.columns

Index(['City', 'Time'], dtype='object')

In [6]:
ufo = pd.read_csv("http://bit.ly/uforeports", nrows=3)

In [8]:
ufo

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00

In [9]:
for c in ufo.City:
    print(c)

Ithaca
Willingboro
Holyoke

In [12]:
for index, row in ufo.iterrows():
    print(index, row.City, row.State)

0 Ithaca NY
1 Willingboro NJ
2 Holyoke CO

In [14]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [15]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [16]:
import numpy as np
drinks.select_dtypes(include=[np.number]).dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object